<Page height="410">
  <StackLayout>
    <GridLayout rows="*, 90">
      <ScrollView row="0">
        <Label text="aaa"></Label>
      </ScrollView>
      <GridLayout columns="150, *" rows="60" class="filter-actions" row="1">
        <Button text="Clean" col="0"></Button>
        <Button text="Filter" (tap)="close()" col="1"></Button>
      </GridLayout>
    </GridLayout>
  </StackLayout>
</Page>
